/*CSS document*/
body {
    background-color: #f9f9f9;
}

h1 {
    width: 10em;
}

h2 {
    color: #3D3D3D;
    margin: 1em 0em 0.5em 0em;
    font-family: gitan-latin, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    color: #F0B58C;
    margin: 0.5em 0em 0.5em 0em;
    font-family: gitan-latin, sans-serif;
    font-weight: 600;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #3D3D3D;
}

nav ul {
    padding: 0.5em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    margin-right: 1.5em;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

nav ul li a{
    color: #3D3D3D;
    text-decoration: none;
}

nav ul li a:hover {
    color: #B5EB83;
}

div.container {
    max-width: 70em;
    margin: auto;
}

p {
    font-family: gitan-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0em 0em 1em 0em;
    color: #3D3D3D;
}

aside {
    display: block;
}

section {
    max-width: 40em;
    margin: 0 auto 3em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

figcaption {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin: 0.5em 0em 1em 0em;
    color: #575555
}

@media screen and (min-width: 60em) {

    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 2em;
    }

    header {
        grid-column: 1/3;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 1em;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure {
        flex: 1 0 16em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory figure div {
        flex: 1 0 16em;
        background-image: url(greenclean.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    section.mainstory figure div img {
		height: 100%;
		opacity: 0;
    }

    section.mainstory figure figcation {
        flex: 0 0 3em;
    }

    section.mainstory h3 {
        flex: 0 0 auto;
        margin: 0;
    }

  section.mainstory p {
        flex: 0 0 auto;
        margin: 0;
    }

    aside {
        grid-column: 2/3;
    }
}


