/*CSS document*/
body {
    background-color: #f9f9f9;
}

h1 {
    width: 10em;
}

a {
    text-decoration: none;
    color: #3D3D3D;
}

h2 {
    color: #3D3D3D;
    margin: 1em 0em 0.5em 0em;
    font-family: gitan-latin, sans-serif;
    font-weight: 600;
    font-style: normal;
}

h3 {
    color: #F0B58C;
    margin: 0.5em 0em 0.5em 0em;
    font-family: gitan-latin, sans-serif;
    font-weight: 600;
    font-style: normal;
}

nav ul {
    padding: 0.5em;
}

nav ul li {
    display: inline;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    margin-right: 1.5em;
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
}

nav ul li a{
    color: #3D3D3D;
    text-decoration: none;
}

nav ul li a:hover {
    color: #B5EB83;
}

div.container {
    max-width: 80em;
    margin: auto;
}

div.container-gallery {
    max-width: 70em;
    margin: auto;
}

div.container-stories {
    max-width: 70em;
    margin: auto;
}

figure.photogallery {
    width: 70%;
    position: absolute;
    left: 100%;
    transition: left 400ms, opacity 400ms;
    opacity: 0;
    margin: auto;
}

main.gallery {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: calc(56% + 3em);
    overflow: hidden;
}

nav.nav-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0em 0em 0em;
}

label {
    flex: 1 0 3em;
}

input:nth-of-type(1):checked ~ main.gallery figure.photogallery:nth-of-type(1),
input:nth-of-type(2):checked ~ main.gallery figure.photogallery:nth-of-type(2),
input:nth-of-type(3):checked ~ main.gallery figure.photogallery:nth-of-type(3),
input:nth-of-type(4):checked ~ main.gallery figure.photogallery:nth-of-type(4),
input:nth-of-type(5):checked ~ main.gallery figure.photogallery:nth-of-type(5),
input:nth-of-type(6):checked ~ main.gallery figure.photogallery:nth-of-type(6),
input:nth-of-type(7):checked ~ main.gallery figure.photogallery:nth-of-type(7),
input:nth-of-type(8):checked ~ main.gallery figure.photogallery:nth-of-type(8) {
    left: 0;
    opacity: 1;
}

input {
	display: none;
}

section {
    max-width: 40em;
	margin-bottom: 0 auto 3m;
}

.with-image {
    margin-top: 1em;
    margin-bottom: 1em;
}

.no-image {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mainstory {
    margin-top: 1em;
    margin-bottom: 1em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

p {
    font-family: gitan-latin, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    margin: 0em 0em 1em 0em;
    color: #3D3D3D;
}

figcaption {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1em;
    margin: 0.5em 0em 1em 0em;
    color: #575555
}


@media screen and (min-width: 60em) {
    div.container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1.5em;
    }

    div.container-stories {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 0 1.5em;
    }

    header {
        grid-column: 1/3;
    }

    main {
        grid-column: 1/2;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 2em;
    }

    aside {
        grid-column: 2/3;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    section.mainstory h3 {
        margin: 0.25em auto 0.25em;
    }

    section.mainstory p {
        flex: 0 0 auto;
        margin: 0;
    }

}
